<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>AI Voice Bot</title>
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body >
        
        <div class=" container">
            <div class="title">
                <h1>Simple AI Bot</h1>
                <p>with Web Speech API</p>
            </div>
            <div class="voice-tool">
                <button class="Talk">
                </button>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>            
        <script src="js/script.js"></script>
    </body>
</html>